.header  {
  font-family: monospace;
  background: papayawhip;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:10px;

  margin: 10px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 20px;
  justify-content: center;

}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.onetwothree{
  display:flex;
  
  flex: 1;
  gap: 8px;
  padding: 10px;
  margin: 10px;
} 

.four{
  display:flex;
  
  flex: 1;
  padding: 10px;
  gap: 8px;
  margin: 10px;
}
